<div class="container">
  <div class="input-container">
    <app-modifier-input></app-modifier-input>
  </div>
  <div class="dice-container">
    <app-die type="die" label="d4" [faces]=4></app-die>
    <app-die type="die" label="d6" [faces]=6></app-die>
    <app-die type="die" label="d8" [faces]=8></app-die>
    <app-die type="die" label="d10" [faces]=10></app-die>
    <app-die type="die" label="d12" [faces]=12></app-die>
    <app-die type="die" label="d20" [faces]=20></app-die>
    <app-die type="die" label="d100" [faces]=100></app-die>
    <app-die type="custom" label="custom"></app-die>
  </div>


</div>
