.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 4px;
  justify-items: center;
}
