.container {
  width: 530px;
  height: 900px;
  display: flex;
  flex-direction: column;
  background: lightgray;
  margin: 15px auto 0;
  border-radius: 12px;
  overflow: hidden;
}

.body-container {
  flex: 1;
  background: url("/assets/img/bg.png");
}

.dice-tray-container {
  background: white;
  height: 260px;
  padding: 5px 30px 10px;
}
