<ng-container>
  <div class="left">
    <a ariaCurrentWhenActive="page" routerLink="" routerLinkActive="active">
      <app-nav-button>Back</app-nav-button>
    </a>
  </div>
  <div class="right">
    <a ariaCurrentWhenActive="page" routerLink="/login" routerLinkActive="active" *ngIf="!(isAuthenticated | async)">
      <app-nav-button>Log in</app-nav-button>
    </a>
    <a ariaCurrentWhenActive="page" routerLink="/register" routerLinkActive="active" *ngIf="!(isAuthenticated | async)">
      <app-nav-button>Register</app-nav-button>
    </a>
    <a (click)="logOut()" *ngIf="(isAuthenticated | async)">
      <app-nav-button>Log Out</app-nav-button>
    </a>
  </div>
</ng-container>
