<div class="container">
  <div class="left">
    <a ariaCurrentWhenActive="page" routerLink="" routerLinkActive="active">
      <app-button
        label="Back"
      ></app-button>
    </a>
  </div>
  <div class="right">
    <a ariaCurrentWhenActive="page" routerLink="" routerLinkActive="active">
      <app-button
        label="Log in"
      ></app-button>
    </a>
    <a ariaCurrentWhenActive="page" routerLink="" routerLinkActive="active">
      <app-button
        label="Register"
      ></app-button>
    </a>
  </div>
</div>
