.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.body {
  margin-top: 40px;
  text-align: center;
  flex: 1;
}

.user-data {
  margin-top: 15px;
}
