<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="form">
    <h2>Reset Password</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="Enter username"
        />
        <div *ngIf="forgotPasswordForm.controls['username'].invalid && forgotPasswordForm.controls['username'].touched" class="error">
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="code">Code</label>
        <input
          id="code"
          formControlName="code"
          type="text"
          class="form-control"
          placeholder="Enter code"
        />
        <div *ngIf="forgotPasswordForm.controls['code'].invalid && forgotPasswordForm.controls['code'].touched" class="error">
          Code is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Enter password"
        />
        <div *ngIf="forgotPasswordForm.controls['password'].invalid && forgotPasswordForm.controls['password'].touched" class="error">
          Password invalid
        </div>
      </div>

      <button class="btn-primary" type="submit" [disabled]="forgotPasswordForm.invalid">
        Set new password
      </button>
    </form>
  </div>
</div>
