/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  font-size: 17px;
  font-family: Roboto, Lato, Helvetica, sans-serif;
}

.hidden {
  display: none !important;
}
