@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:host {
  cursor: pointer;
  min-width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Poppins', 'Lato', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease-in-out;
  padding: 0 15px;
}

:host:hover {
  color: #007BFF;
  background: #f6f6f6;
}
